body{
    overflow-x: hidden;
}
.floatL{
    float:left;
}
.floatR{
    float:right;
}
.big-vbtn.vbtn-show,.small-vbtn.vbtn-show{
    display: block;
}
.swiper-button-next,.swiper-button-prev{
    position:absolute;
    z-index:10;
    cursor:pointer;
    background-position:center;
    background-repeat:no-repeat;
}

.sprite{
    background: url(http://n.sinaimg.cn/games/cj2017-pc/sprit_icon.png) no-repeat;
}
.sprite-qiu{
    background: url(http://n.sinaimg.cn/games/cj2017-pc/qiu_bg.png) no-repeat;
    display: none;
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.trans,.i-img,.v-btn,.CJ-img img,.CJ-img-1-p, .CJ-img-2-p{
    transition:all 2s;
    -webkit-transition:all 2s;
}
.CJ-img img.rolate{
    transition:all .8s;
    -webkit-transition:all .8s;
}
.CJ-img p span{
    transition:all .5s;
    -webkit-transition:all .5s;
}
a{
    color: #343434;
    transition:color .5s;
    -webkit-transition:color .5s;
}
a.gray {
    color: #929291;
}
a:hover{
    color: #f42727;
}
/*图片公共样式*/
.f16{
    font-size: 16px;
}
.f14{
    font-size: 14px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-2{
    margin-bottom: 2px;
}
.part{
    position: relative;
}
.big-vbtn{
    position: absolute;
    display: none;
    width: 92px;
    height: 48px;
    background-color: rgba(0,0,0,0.72)!important;
    background-color: #000;
    filter: alpha(opacity = 72);
    left: 50%;
    margin-left: -46px;
    text-align: center;
    padding-top: 16px;
}
.small-vbtn{
    position: absolute;
    display: none;
    width: 38px;
    height: 33px;
    background-color: rgba(0,0,0,0.72)!important;
    background-color: #000;
    filter: alpha(opacity = 72);
    left: 50%;
    margin-left: -32px;
    padding-left: 26px;
    padding-top: 13px;
}
.b-btn0{
    top:236px;
}
.b-btn1{
    top:175px;
}
.b-btn2{
    top:65px;
}
.b-btn3{
    top:50px;
}
.b-btn4{
    top:140px;
}

.b-btn5{
    top:153px;
}

.CJ-img{
    position: relative;
    overflow: hidden;
}
.CJ-img:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.CJ-img:hover img.rolate{
    transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg);
    transform-origin: 20% 50%;
    -webkit-transform-origin: 20% 50%;
}
.CJ-img:hover p span{
    transform:translate(0,-10px);
    -webkit-transform:translate(0,-10px);

}
.CJ-img:hover .CJ-img-1-p,.CJ-img:hover .CJ-img-2-p{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.CJ-img-386-416{
     width:386px;
     height: 416px;
 }
.CJ-img-386-561{
    width:386px;
    height: 561px;
}
.CJ-img-386-364{
    width:386px;
    height: 364px;
}
.CJ-img-386-167{
    width:386px;
    height: 167px;
}
.CJ-img-220-193{
    width:220px;
    height: 193px;
}
.CJ-img-220-167{
    width: 220px;
    height: 167px;
}
.CJ-img-220-364{
    width:220px;
    height: 364px;
}
.CJ-img-284-193{
    width: 284px;
    height: 193px;
}
.CJ-img-284-167{
    width: 284px;
    height: 167px;
}
.CJ-img-284-364{
    width: 284px;
    height: 364px;
}
.CJ-img-284-561{
    width: 284px;
    height: 561px;
}
.CJ-img-1-p,.CJ-img-2-p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/img_t1.png) no-repeat;

}
.CJ-img-1-p span.f16,.CJ-img-2-p span.f16{
    color: #fff;
    display: block;
    text-align: center;
    line-height: 58px;
    margin-top:52px;
}

.CJ-img-1-p span.f14,.CJ-img-2-p span.f14{
    color: #fff;
    display: block;
    text-align: center;
    line-height: 46px;
    margin-top:64px;
}

.CJ-head{
    width: 100%;
    /*min-width: 1200px;
    max-width: 2560px;*/
    height:856px;
    margin: 0 auto;
    position: relative;
    background: #341620 url(http://n.sinaimg.cn/games/cj2017-pc/head_new.jpg) no-repeat top center;
}
.CJ-content{
    width:1200px;
    position:relative;
    margin:0 auto;
    overflow:hidden;
}
.CJ-content-1{
    width:1200px;
    position:relative;
    margin:0 auto;
}
.big-ball{
    width: 174px;
    height: 173px;
    position: absolute;
    bottom: -130px;
    left:0;
    z-index: 99;
    display: none;
}
.big-ball img{
    display: block;
    width: 174px;
    height: 173px;
    position: absolute;
    left: -87px;
}
.small-ball{
    width: 63px;
    height: 63px;
    position: absolute;
    top: 601px;
    right: 0;
    z-index: 99;
    display: none;
}
.small-ball img{
    display: block;
    width: 63px;
    height: 63px;
    position: absolute;
    right: -32px;
}
.CJ-head .CJ-head-con{
    width: 1200px;
    height: 790px;
    margin: 0 auto;
    position:relative;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/h_center.png) no-repeat top center;
    padding-top: 66px;
}
.CJ-head .CJ-head-con .lol-logo{
    display: block;
    width: 293px;
    height: 118px;
    margin: 0 auto 74px;
}
.CJ-head .CJ-head-con .h-img{
    width: 100%;
    height: 856px;
    margin: 0 auto;
    position: absolute;
    top:0;
    left: 0;
}
.CJ-head .CJ-head-con .h-img .h-img-i{
    display: block;
    position: absolute;
    background: url("http://n.sinaimg.cn/games/cj2017-pc/img_icon.png") no-repeat;
}

.CJ-head .CJ-head-con .h-img .h-img-0{
    width: 93px;
    height: 67px;
    background-position: 0 0;
    top:56px;
    left: -34px;
}
.CJ-head .CJ-head-con .h-img .h-img-1{
    width: 33px;
    height: 33px;
    background-position: 0 -91px;
    top:41px;
    right: 356px;
}
.CJ-head .CJ-head-con .h-img .h-img-2{
    width: 94px;
    height: 58px;
    background-position: 0 -148px;
    top:323px;
    left: 45px;
}
.CJ-head .CJ-head-con .h-img .h-img-3{
    width: 85px;
    height: 57px;
    background-position: 0 -237px;
    bottom:194px;
    left: -59px;
}
.CJ-head .CJ-head-con .h-img .h-img-4{
    width: 21px;
    height: 5px;
    background:#ea2d4d;
    border-radius: 50px;
    top:392px;
    left: -363px;
}
.CJ-head .CJ-head-con .h-img .h-img-5{
     width: 18px;
     height: 19px;
     background-position: 0 -324px;
     top:125px;
     left: 302px;
 }
.CJ-head .CJ-head-con .h-img .h-img-6{
     width: 12px;
     height: 5px;
     background:#12c3ab;
     border-radius: 50px;
     bottom:347px;
     left: 146px;
 }
.CJ-head .CJ-head-con .h-img .h-img-7{
    width: 50px;
    height: 50px;
    background-position:-148px -88px;
    top:54px;
    right: 50px;
}
.CJ-head .CJ-head-con .h-img .h-img-8{
    width: 10px;
    height: 4px;
    background:#0ed2ad;
    border-radius: 50px;
    top:160px;
    right: 153px;
}
.CJ-head .CJ-head-con .h-img .h-img-9{
    width: 50px;
    height: 50px;
    background-position:-148px -88px;
    top:54px;
    right: 50px;
}
.CJ-head .CJ-head-con .h-img .h-img-10{
    width: 74px;
    height: 40px;
    background-position:0 -367px;
    top:283px;
    right: 74px;
}
.CJ-head .CJ-head-con .h-img .h-img-11{
    width: 14px;
    height: 42px;
    background-position:-188px 0;
    bottom:293px;
    right: -7px;
}
.CJ-head .CJ-head-con .h-img .h-img-12{
    width: 36px;
    height: 39px;
    background-position:0 -451px;
    top:461px;
    right: -135px;
}
.CJ-head .CJ-head-con .h-img .h-img-13{
    width: 12px;
    height: 4px;
    background:#ea2d4d;
    border-radius: 50px;
    top:220px;
    right: -253px;
}
/*logo*/
.CJ-head .CJ-head-con .logo{
    width: 100%;
    height: 402px;
    text-indent: -999em;
}
.CJ-head .CJ-head-con .logo .logo-b{
    width: 304px;
    height: 271px;
    margin: 0 auto;
    background: url("http://n.sinaimg.cn/games/cj2017-pc/logo_new.png") no-repeat;
}
.CJ-head .CJ-head-con .logo .title{
    height: 88px;
    text-indent: -999em;
    margin-top: 49px;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/logo_h2.png) no-repeat center center;
}
/*厂商*/
.CJ-head .CJ-head-con .cs-list{
    width: 836px;
    margin: 97px auto 0;
    overflow: hidden;
}
.CJ-head .CJ-head-con .cs-list ul{
    width: 840px;
}
.CJ-head .CJ-head-con .cs-list ul li{
    width: 119px;
    height: 73px;
    border-right: 1px solid #ececec;
    float: left;
}
.CJ-head .CJ-head-con .cs-list ul li:last-child{
    border-right: none;
}
/*nav*/
.CJ-nav-bg, .CJ-nav {
    position: absolute;
    width: 100% ;
    z-index: 2;
    bottom: 0;
    left: 0;
}
.CJ-nav-bg {
    height: 144px;

}

.CJ-nav {
    height:50px;
    margin-bottom: 57px;
}
.CJ-nav .item {
    float: left;
    font-size:14px;
}
.CJ-nav .item a {
    color: #fff;
}
.CJ-nav .item a:hover {
    color: #d9283d;
}
.CJ-nav .item.first {
    width:258px;
}
.CJ-nav .item.second {
    width:320px;
}
.CJ-nav .item.third {
    width:347px;
}
.CJ-nav .item.forth {
    width:275px;
}
.CJ-nav .item .icon {
    width: 50px;
    height: 50px;
    float: left;
    margin-right:30px;
    background:url(http://n.sinaimg.cn/games/cj2017-pc/nav_icon.png) no-repeat;
}
.CJ-nav .item .icon.icon1 {
    background-position:0 0;
    margin-left: 4px;
}
.CJ-nav .item .icon.icon2 {
    background-position: 0 -102px;
    margin-left: 55px;
}
.CJ-nav .item .icon.icon3 {
    background-position: 0 -200px;
    margin-left: 54px;
}
.CJ-nav .item .icon.icon4 {
    background-position: 0 -325px;
    margin-left: 59px;
}
.CJ-nav .item dd {
    line-height: 20px;
    margin-bottom:10px;
    white-space: nowrap;
}
.CJ-nav .item dd a {
    margin-right: 22px;
}
.CJ-nav .inter {
    display: block;
    width: 1px;
    height: 46px;
    background: #fff;
    opacity: 0.18;
    position: absolute;
    top: 2px;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 18);
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 18);
    filter: alpha(opacity = 18);
}
.CJ-nav .inter.fir {
    left:259px;
}
.CJ-nav .inter.sec {
    left:580px;
}
.CJ-nav .inter.thi {
    left:925px;
}
.CJ-head .CJ-head-bottom{
    width: 1207px;
    height: 45px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -603px;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/t_m.png) no-repeat;
    z-index: 99;
}

/*直播*/
.CJ-video{
    background: #fff;
    width: 100%;
    padding-top: 125px;
}
.CJ-content-tab{
    width: 885px;
    height: 625px;
}
.CJ-content-list{
    width: 315px;
    height: 520px;
    margin-top: 85px;
    background: #ffe970;
    position: relative;
    padding-top: 20px;
}
.CJ-content-tab .CJ-content-tab-c{
    width: 602px;
    margin-left: 277px;
}
.CJ-content-tab .CJ-content-tab-c .CJ-content-tab-nav{
    height: 46px;
    line-height: 46px;
    width: 100%;
}
.CJ-content-tab .CJ-content-tab-c .CJ-content-tab-nav li{
    margin-left: 44px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #a6a6a6;
    font-size: 30px;
    font-weight: bold;
}
.CJ-content-tab .CJ-content-tab-c .CJ-content-tab-nav li a{
    color: #a6a6a6;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.CJ-content-tab .CJ-content-tab-c .CJ-content-tab-nav li a span{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-position:0 -210px;
    font-family: "Impact Regular";
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    margin-left: 5px;
    transition: all .3s;
    -webkit-transition: all .3s;
    vertical-align: top;
    margin-top: 10px;
}
.CJ-content-tab .CJ-content-tab-c .CJ-content-tab-nav li a:hover,.CJ-content-tab .CJ-content-tab-c .CJ-content-tab-nav li a.tab-selected{
    color: #f42727;
}
.CJ-content-tab .CJ-content-tab-c .CJ-content-tab-nav li a:hover span{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    background-position:0 -146px;
}
.CJ-content-tab .CJ-content-tab-c .CJ-content-tab-nav li a.tab-selected span{
    background-position:0 -146px;
}
.CJ-content-tab .CJ-content-tab-c .slider {
    margin-top: 4px;
    position: relative;
    width: 30%;
    -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.CJ-content-tab .CJ-content-tab-c .slider.slider-1{
    width: 30%;
}
.CJ-content-tab .CJ-content-tab-c .slider.slider-2{
    width: 76%;
}
.CJ-content-tab .CJ-content-tab-c .slider.slider-3{
    width: 126%;
}
.CJ-content-tab .CJ-content-tab-c .slider.slider-4{
    width: 196%;
}
.CJ-content-tab .CJ-content-tab-c .slider .indicator {
    position: relative;
    width: 20px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #f42727;
}
.CJ-content-tab .tab-con{
    width: 885px;
    height: 540px;
    margin-top: 32px;
}
.tab-con{
    display: none;
}
.tab-con.tab-con-selected{
    display: block;
}
.tab-con-v-tab{
    width: 146px;
    height: 540px;
}
.video-con{
    width: 739px;
    height:540px;
}
.tab-con-v-tab-c{
    position: relative;
    z-index: 10;
    background: #000;
    height:540px;
}
.tab-con-v-tab .li{
    position: relative;
    z-index: 15;
    width: 122px;
    height: 96px;
    font-size: 14px;
    color: #9b9b9b;
    padding: 12px 12px 0 12px;
    text-align: center;
}
.tab-con-v-tab .li a{
    color: #9b9b9b;
    -webkit-transition: all 0.33s ;
    transition: all 0.33s;
}
.tab-con-v-tab .li a .img{
    width: 122px;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.tab-con-v-tab .li a .img .i-img{
    display: block;
    width: 122px;
    height: 60px;
}
.img:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.img:hover .v-btn{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.tab-con-v-tab .li a .img .v-btn{
    display: block;
    width: 15px;
    height: 20px;
    background-position: 0 -35px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -7px;
    -webkit-transition: all 1s ;
    transition: all 1s ;
}

.tab-con-v-tab .li a p{
    line-height: 35px;
    height: 35px;
}
.tab-con-v-tab .li:hover a,.tab-con-v-tab .li.li-selected a{
    color: #fff;
}
.tab-con-v-tab .li-bg{
    width: 146px;
    height: 108px;
    position: absolute;
    background: #1c1c1c;
    z-index: 12;
}
.tab-con-v-tab .li-bg.li-bg1{
    top:108px;
}
.tab-con-v-tab .li-bg.li-bg2{
    top:324px;
}
.tab-con-v-tab .slider{
    position: absolute;
    width: 146px;
    height: 108px;
    background:#e53541;
   /* transform: translateY(-500%);*/
    top:0;
    z-index: 13;
    -webkit-transition: all 0.6s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.6s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.CJ-content-list .more{
    position: absolute;
    width: 50px;
    height: 47px;
    top:0;
    right: 0;
    background-position: 0 -268px;
    text-align: center;
    line-height: 52px;
}
.CJ-content-list .more .more-img{
    -webkit-transition: all 0.33s;
    transition: all 0.33s ;
}
.CJ-content-list .more:hover .more-img{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.CJ-content-list h2{
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    color: #524407;
    text-align: center;
    margin-bottom: 22px;
}
.CJ-content-list-con{
    padding: 0 24px 0 18px;
}
.CJ-content-list-con .list-li{
    width: 274px;
}
.CJ-content-list-con .list-li .list-li-nav{
    width: 7px;
    float: left;
    margin-right: 10px;
}
.CJ-content-list-con .list-li .list-li-nav .list-li-y{
    display: block;
    width: 7px;
    height: 7px;
    background: #ff472e;
    border-radius: 50%;
}
.CJ-content-list-con .list-li .list-li-nav .list-li-line{
    display: block;
    width: 1px;
    height: 73px;
    background: #e6d161;
    margin: 6px auto;
}
.CJ-content-list-con:last-child .list-li .list-li-nav .list-li-line{
    height: 48px;
}
.CJ-content-list-con .list-li-img{
    display: block;
    width: 99px;
    height: 60px;
    float: left;
    margin-right: 16px;
    position: relative;
    overflow: hidden;
}
.CJ-content-list-con .list-li-img img{
    position: absolute;
    top:0;
    left: 0;
}
.CJ-content-list-con .list-li-img .zz{
    display: block;
    width: 99px;
    height: 60px;
    position: absolute;
    top:0;
    left: 0;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/img_zz.png) no-repeat;
    z-index: 99;
}
.CJ-content-list-con .list-li-img:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.CJ-content-list-con p{
    font-size: 14px;
}
.CJ-content-list-con .timer{
    height: 16px;
    line-height: 16px;
    color: #bda123;
    margin-bottom: 4px;
}
.CJ-content-list-con .timer .timer-icon{
    width: 12px;
    height: 12px;
    display: inline-block;
    background-position: 0 -108px;
    margin-right: 4px;
}
.CJ-content-list-con .timer .hot{
    width: 26px;
    height: 13px;
    display: inline-block;
    background-position: 0 -72px;
    margin-left: 4px;
}
.CJ-content-list-con .p1{
    color: #524407;
    line-height: 22px;
}
.CJ-content-list-con .p1 a{
    color: #524407;
}
.CJ-content-list-con .p1 a:hover{
    color: #d9283d;
}
/*微博活动*/
.CJ-title{
    height: 56px;
    width: 1200px;
    text-align: center;
    line-height: 56px;
    position: relative;
}
.CJ-title .CJ-title-h2{
    height: 56px;
}
.CJ-title .CJ-title-more{
    display: block;
    width: 90px;
    line-height: 18px;
    height: 18px;
    font-size: 14px;
    color: #a2a2a2;
    position: absolute;
    top:22px;
    right: 0;
}
.CJ-title .CJ-title-more .more-icon{
    display: block;
    width: 90px;
    height: 18px;
    background-position: 65px -355px;
    float: right;
    margin-left: 4px;
}
.CJ-wb{
    margin-top: 119px;
    width: 100%;
    padding-bottom: 108px;
}

.CJ-wb .CJ-wb-con{
    width: 1200px;
    margin: 41px auto 0;
    height: 158px;
    position: relative;
}
.CJ-wb .CJ-wb-con .swiper-container {
    width: 1221px;
    height: 158px;
    margin-left: -10px;
}
.CJ-wb .CJ-wb-con .swiper-slide{
    width: 405px;
    height: 158px;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/wbli_bg.png) no-repeat;
    transition:all .3s;
    -webkit-transition:all .3s;
}
.CJ-wb .CJ-wb-con .swiper-slide .wb-list{
    width: 386px;
    height: 138px;
    margin-top: 8px;
    margin-left: 10px;

}
.CJ-wb .CJ-wb-con .swiper-slide:hover{
    -webkit-transform:translate(0,-5px);
    -ms-transform:translate(0,-5px);
    transform:translate(0,-5px);
}
.CJ-wb .CJ-wb-con .swiper-slide .wb-list .wb-img{
    display: block;
    width: 138px;
    height: 138px;
    float: left;
    margin-right: 22px;
    overflow: hidden;
}
.CJ-wb .CJ-wb-con .swiper-slide .wb-list .wb-img:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.CJ-wb .CJ-wb-con .swiper-slide .wb-list p{
    font-size: 14px;
    height: 22px;
    line-height: 22px;
}
.CJ-wb .CJ-wb-con .swiper-slide .wb-list p.p1{
    padding-top: 12px;
    font-size: 15px;
    color: #373737;
}
.CJ-wb .CJ-wb-con .swiper-slide .wb-list p.p1 a{
    color: #373737;
    transition:all .5s;
    -webkit-transition:all .5s;
}
.CJ-wb .CJ-wb-con .swiper-slide:hover .wb-list p.p1 a{
    color: #f42727;
}
.CJ-wb .CJ-wb-con .swiper-slide .wb-list p.p2{
     font-size: 15px;
     color: #999;
     margin-top: 3px;
 }
.CJ-wb .CJ-wb-con .swiper-slide .wb-list .add-btn{
    display: block;
    width:71px;
    height: 32px;
    background-position: 0 -405px;
    margin-left: 160px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    margin-top: 9px;
}
.CJ-content-1 .swiper-button-next{
    width: 94px;
    height: 94px;
    background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_1_1.png);
    background-position: -99px -3px;
    -webkit-background-size: 200px 116px;
    background-size: 200px 116px;
    right: -127px;
    top:50%;
    margin-top: -47px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.CJ-content-1 .swiper-button-prev{
    width: 94px;
    height: 94px;
    background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_1_1.png);
    background-position: -6px -3px;
    -webkit-background-size: 200px 116px;
    background-size: 200px 116px;
    left: -127px;
    top:50%;
    margin-top: -47px;
    -webkit-transition: all 0.3s ;
    transition: all 0.3s ;
}
.CJ-content-1 .swiper-button-prev:hover,.CJ-content-1 .swiper-button-next:hover{
    background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_1_2.png);
}

/*厂商*/
.CJ-cs{
    width: 100%;
    height: 624px;
    background:url(http://n.sinaimg.cn/games/cj2017-pc/item3_bg.jpg) no-repeat top center;
    padding-top: 98px;
    display: none;
}
.CJ-cs .CJ-cs-nav{
    height: 56px;
    display: table; /*重点就是这个属性,这个样式会告知浏览器当前元素的宽度,采用最小的宽度.不是默认全宽*/
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}
.CJ-cs .CJ-cs-nav ul{
    height: 60px;
    line-height: 60px;
}
.CJ-cs .CJ-cs-nav ul li{
    margin:0 57px;
    color: #fff;
    float: left;
    position: relative;
    height: 60px;
}
.CJ-cs .CJ-cs-nav ul li:after{
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background: #fff;
    opacity: 0.22;
    position: absolute;
    bottom: 14px;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 22);
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 22);
    filter: alpha(opacity = 22);
    right: -57px;
}
.CJ-cs .CJ-cs-nav ul li:first-child:after{
    bottom: 7px;
}
.CJ-cs .CJ-cs-nav ul li:first-child{
    margin-top: -58px;
    margin-left: 0;
    height: 112px;
}
.CJ-cs .CJ-cs-nav ul li:last-child{
    margin-right: 0;
}
.CJ-cs .CJ-cs-nav ul li a{
    color: #fff;
}
.CJ-cs .CJ-cs-nav ul li a:hover,.CJ-cs .CJ-cs-nav ul li a.cur{
    color: #ffea00;
}

.CJ-cs .CJ-cs-nav .slider{
    position: absolute;
    width: 46.5%;
    -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.CJ-cs .CJ-cs-nav .slider.slider-1{
    width: 46.5%;
}
.CJ-cs .CJ-cs-nav .slider.slider-2{
    width: 137.5%;
}
.CJ-cs .CJ-cs-nav .slider.slider-3{
    width: 190%;
}
.CJ-cs .CJ-cs-nav .slider.slider-4{
    width: 126%;
}
.CJ-cs .CJ-cs-nav .slider.slider-4{
    width: 196%;
}
.CJ-cs .CJ-cs-nav .slider .indicator {
    position: relative;
    width: 20px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #f8d806;
}
.CJ-cs .swiper-container{
    width: 1200px;
    height: 416px;
    margin: 32px auto 0;
}
.CJ-cs .swiper-container .CJ-cs-con-img{
    width: 886px;
    height: 416px;
}
.CJ-cs .swiper-container .CJ-cs-con-list{
    width: 284px;
    height: 416px;
}
.CJ-cs .swiper-container .CJ-cs-con-img .CJ-cs-img-l{
    width: 386px;
    height: 416px;
}
.CJ-cs .swiper-container .CJ-cs-con-img .CJ-cs-img-r{
    width: 500px;
    height: 416px;
}
.CJ-cs .swiper-container .CJ-cs-con-img .CJ-cs-img-r .CJ-img{
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-t{
    height: 193px;
    margin-bottom: 30px;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-t h2{
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 19px;
    color: #fff;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-t h2 a{
    color: #fff;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-t p{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-c{
    height: 193px;
    position: relative;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-c ul li{
    height: 28px;
    line-height: 28px;
    margin-bottom: 6px;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-c ul li a{
    color: #fff;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-c ul li a:hover,.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-t h2 a:hover{
    color: #ffea00;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-c .list-more{
    display: block;
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}
.CJ-cs .swiper-container .CJ-cs-con-list .CJ-cs-con-list-c .list-more:hover{
    color: #ffea00;
}
.CJ-content-1 .swiper-button-next-new {
     width: 72px;
     height: 72px;
     background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_2_1.png);
     background-position: -119px 0;
     -webkit-background-size: 200px 75px;
     background-size: 200px 75px;
     right: -116px;
     top: 260px;
     margin-top: 0;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
 }
.CJ-content-1 .swiper-button-prev-new {
    width: 72px;
    height: 72px;
    background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_2_1.png);
    background-position: -16px 0;
    -webkit-background-size: 200px 75px;
    background-size: 200px 75px;
    left: -116px;
    top: 260px;
    margin-top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.CJ-content-1 .swiper-button-next-new1 {
    width: 72px;
    height: 72px;
    background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_3_1.png);
    background-position: -119px 0;
    -webkit-background-size: 200px 75px;
    background-size: 200px 75px;
    right: -116px;
    top: 260px;
    margin-top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.CJ-content-1 .swiper-button-prev-new1 {
    width: 72px;
    height: 72px;
    background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_3_1.png);
    background-position: -16px 0;
    -webkit-background-size: 200px 75px;
    background-size: 200px 75px;
    left: -116px;
    top: 260px;
    margin-top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.CJ-content-1 .swiper-button-next-new:hover,.CJ-content-1 .swiper-button-prev-new:hover,.CJ-content-1 .swiper-button-next-new1:hover,.CJ-content-1 .swiper-button-prev-new1:hover{
    background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_2_3.png);
}
.CJ-visit{
    width: 100%;
   /* padding-top: 119px;*/
}
.CJ-visit .CJ-visit-con{
    margin-top: 45px;
    height: 606px;
}
.CJ-visit .CJ-visit-con .CJ-visit-t{
    height: 16px;
    line-height: 16px;
}
.CJ-visit .CJ-visit-con .CJ-visit-t span{
    display: block;
    float: left;
    height: 16px;
    width: 4px;
    background: #f04144;
    margin-right: 10px;
}
.CJ-visit .CJ-visit-con .CJ-visit-t h2{
    font-size: 16px;
    color: #343434;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-l{
    width: 406px;
    margin-left: -10px;
    margin-right: 20px;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-l .CJ-visit-list{
    width: 366px;
    height: 167px;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/li_bg.png) no-repeat;
    padding: 8px 30px 12px 10px;
    margin-top: 10px;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-l .CJ-visit-list .CJ-visit-list-img{
    display: block;
    width: 193px;
    height: 167px;
    float: left;
    margin-right: 19px;
    overflow: hidden;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-l .CJ-visit-list .CJ-visit-list-img:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.CJ-visit .CJ-visit-con .CJ-visit-con-l .CJ-visit-list p{
    font-size: 14px;
    color: #999;
    line-height: 24px;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-l .CJ-visit-list h3{
    font-size: 16px;
    line-height: 28px;
    margin-top: 14px;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-l .CJ-visit-list p.p3{
    margin-top: 14px;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-l  .CJ-visit-t{
    margin-left: 10px;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-m{
    width: 500px;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-m .CJ-visit-con-m-c{
    margin-top: 18px;
}
.CJ-visit .CJ-visit-con .CJ-visit-con-m .CJ-visit-con-m-c .CJ-img {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
.CJ-visit-con-r{
    width: 284px;
}
.CJ-visit-con-r .CJ-visit-con-r-c{
    margin-top: 12px;
}
.CJ-visit-con-r .CJ-visit-con-r-c ul li{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 28px;
    line-height: 28px;
    margin-bottom: 14px;
    color: #343434;
    font-size: 14px;
}

.CJ-visit-con-r .CJ-visit-con-r-c .list-more{
    height: 28px;
    line-height: 28px;
}
.CJ-mg{
    padding-top: 108px;
    width: 100%;
    padding-bottom: 121px;
}
.CJ-mg .swiper-container{
    width: 1200px;
    height: 561px;
    margin-top: 45px;
}

.CJ-mg .swiper-container .CJ-img .g-logo-1{
    display: block;
    width: 73px;
    height: 73px;
    position: absolute;
    top:20px;
    left: 20px;
}
.CJ-mg .swiper-container .CJ-img .g-logo{
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top:20px;
    left: 20px;
}
.swiper-container .CJ-mg-img-m{
    width: 500px;
}
.swiper-container .CJ-mg-img-m1{
    width: 250px;
}
.CJ-mg .swiper-container .CJ-mg-img-m .CJ-img,.CJ-zj .swiper-container .CJ-mg-img-m .CJ-img{
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}
.swiper-container .CJ-mg-img-m1 .CJ-img{
    margin-left: 30px;
    margin-bottom: 30px;
}
.swiper-container .CJ-mg-img-r{
    width: 284px;
}
.CJ-content-1 .swiper-button-prev3,.CJ-content-1 .swiper-button-next3,.CJ-content-1 .swiper-button-next5,.CJ-content-1 .swiper-button-prev5{
    top:335px;
    margin-top: 0;
}
.CJ-pc{
    padding-top: 109px;
    width: 100%;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/item4_bg.jpg) no-repeat top center;
    height: 782px;
}
.CJ-pc .swiper-container{
    margin-top: 45px;
    height: 561px;
}
.CJ-content-1 .swiper-button-next4,.CJ-content-1 .swiper-button-prev4{
    top: 345px;
}
/*主机游戏*/
.CJ-zj{
    padding-top: 119px;
    padding-bottom: 120px;
    width: 100%;
}
.CJ-zj .swiper-container{
    margin-top: 45px;
    height: 561px;
}
/*VR游戏*/
.CJ-vr{
    padding-top: 109px;
    height: 581px;
    width: 100%;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/item5_bg.jpg) no-repeat top center;
}
.CJ-vr .CJ-vr-c{
    width: 1200px;
    height: 445px;
    padding: 0 25px;
    margin-left:-25px;
    overflow: hidden;
}
.CJ-vr .swiper-container{
    width: 1230px;
    height: 360px;
    margin-top: 45px;
}
.CJ-vr .swiper-slide .vr-list{
    width: 216px;
    height: 358px;
    border-bottom: 2px solid #ffde6c;
    transition:all 2s;
    -webkit-transition: all 2s;
}
.CJ-vr .swiper-container{
    overflow: visible;
    overflow: hidden\9;
}

.CJ-vr .swiper-slide:hover .vr-list{
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
}
.vr-list .img:hover img{
    transform: scale(1);
    -webkit-transform: scale(1);
}
.CJ-vr .vr-list a{
    color: #343434;
}
.CJ-vr .vr-list a:hover{
    color: #f42727;
}
.CJ-vr .vr-list .img{
    width: 216px;
    height: 304px;
    overflow: hidden;
}
.CJ-vr .vr-list .img img{
    display: block;
}
.CJ-vr .vr-list div.p{
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color:rgba(255,255,255,0.3) !important;
    background-color: #fff;
    filter: alpha(opacity = 32);
}
.CJ-vr .CJ-title .CJ-title-more{
    color: #ae9f4f;
}
.CJ-pc .CJ-title .CJ-title-more{
    color: #ad88f2;
}
/*资讯图集*/
.CJ-news{
    padding-top: 119px;
    height: 1548px;
    background: #fff url(http://n.sinaimg.cn/games/cj2017-pc/item6_bg1.png) no-repeat top center;
}
.CJ-news .CJ-news-con{
    width: 1200px;
    margin-top: 45px;
    height: 1328px;
}
.CJ-news-con-news{
    width: 688px;
    padding-top: 4px;
    border-top: 1px solid #f2f2f2;
}
.CJ-news-con-img{
    width:462px;
}
.CJ-news-con-img .CJ-atlas{
    width: 100%;
    margin-bottom: 2px;
}
.CJ-news-con-img .CJ-atlas .CJ-atlas-l{
    width: 230px;
}

.CJ-atlas-li{
    overflow: hidden;
    position: relative;
}
.CJ-atlas-li img{
    display: block;
}
.CJ-atlas-li-1{
    width: 462px;
    height: 188px;
}
.CJ-atlas-li-2{
    width: 230px;
    height: 188px;
}
.CJ-atlas-li-3{
    width: 230px;
    height: 378px;
}
.CJ-atlas-li .figre{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background-color: rgba(0,0,0,0.64)!important;
    filter: alpha(opacity = 64);
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.CJ-atlas-li  a{
    color: #fff;
}
.CJ-atlas-li .figer-1{
    width: 402px;
    height: 128px;
}
.CJ-atlas-li .figre p{
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    padding:0 30px;
}
.CJ-atlas-li .figre .pp{
    width: 100%;
    position:absolute;
    bottom:30px;
    left: 0;
}
.CJ-atlas-li:hover .figre{
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.CJ-atlas-li:hover .figre .pp{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.CJ-atlas-li:hover img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/*CJ-weibo*/
.CJ-weibo{
    width: 100%;
    padding-top: 109px;
    height: 1118px;
    overflow: hidden;
    background: url(http://n.sinaimg.cn/games/cj2017-pc/item7_bg1.jpg) no-repeat top center;
}
.CJ-weibo .CJ-weibo-c{
    width: 1200px;
    margin: 74px auto 0;
}

/*两侧球*/
.CJ-video-q-1{
    width: 45px;
    height: 45px;
    background-position: -448px -3px;
    position: absolute;
    bottom: 222px;
    right: -222px;
    z-index: 99;
}
.CJ-video-q-2{
    width: 247px;
    height: 247px;
    background-position: 0 -322px;
    position: absolute;
    bottom: -160px;
    right: -138px;
    z-index: 99;
}
.CJ-wb-q-1{
    width: 260px;
    height: 285px;
    background-position: 0 -3px;
    position: absolute;
    bottom: -127px;
    left: -88px;
    z-index: 99;
}
.CJ-visit-q-2{
    width: 262px;
    height: 271px;
    background-position: 0 -635px;
    position: absolute;
    top: -23px;
    right: -65px;
    z-index: 99;
}
.CJ-mg-q-1{
    width: 293px;
    height:327px;
    background-position: 0 -976px;
    position: absolute;
    bottom: 0;
    left: -87px;
    z-index: 99;
}
.CJ-mg-q-2{
    width: 46px;
    height:47px;
    background-position: -454px -223px;
    position: absolute;
    top: -32px;
    right: -253px;
    z-index: 99;
}
.CJ-zj-q-1{
    width: 157px;
    height:195px;
    background-position: 0 -1372px;
    position: absolute;
    top: -36px;
    right: -37px;
    z-index: 99;
}
.CJ-vr-q-1{
    width: 284px;
    height:357px;
    background-position: 0 -1642px;
    position: absolute;
    bottom: -151px;
    left: -123px;
    z-index: 99;
}
.CJ-news-q-1{
    width: 95px;
    height:101px;
    background-position: -404px -445px;
    position: absolute;
    bottom: 270px;
    right: -46px;
    z-index: 99;
}
.CJ-news-q-2{
    width: 172px;
    height:173px;
    background-position: -320px -1354px;
    position: absolute;
    bottom: -65px;
    right: -54px;
    z-index: 99;
}
.CJ-weibo-q-1{
    width: 82px;
    height:83px;
    background-position: -413px -850px;
    position: absolute;
    bottom: -46px;
    right: -52px;
    z-index: 99;
}

/*right nav*/
.rightFix{
    position:fixed;
    z-index:100;
    left:50%;
    margin-left:710px;
    bottom:100px;
    width:129px;
    height:581px;
    background:url(http://n.sinaimg.cn/games/cj2017-pc/right_nav.png) no-repeat;
    padding-top: 140px;
    transition:all .2s;
}
.rightFix ul{
    width: 80px;
    margin: 0 auto;
    height: 493px;
}
.rightFix ul li.iteme{
    width: 80px;
    padding-top: 9px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 34px;
    height: 34px;
    position: relative;
}
.rightFix ul li.iteme1:before{
    background: #fff;
    opacity: 0.11;
    content:"";
    position: absolute;
    top: 0;
    left: 8px;
    height: 1px;
    width: 62px;
    filter: alpha(opacity = 0.11);
}
.rightFix ul li.iteme a{
    display: block;
    width: 80px;
    height: 34px;
    border-radius: 25px;
    color:#fff;
    transition:all .2s;
}
.rightFix ul li.iteme a:hover,.rightFix ul li.iteme a.active{
    background:#fff;
    color:#e63641;
}
.nav-close{
    display: block;
    width: 14px;
    height: 12px;
    position: absolute;
    top:0;
    right: 9px;
}
.return-top{
    display: block;
    width: 46px;
    height: 46px;
    margin: 12px auto 0;
}

.CJ-content-1 .swiper-button-next6,.CJ-content-1 .swiper-button-prev6{
    top:244px;
}
/* page */

.page_more { width: 100%; margin-top: 40px; overflow: hidden; }

.pageZone { padding-top: 0; overflow: hidden; text-align: center; }

.pageZone span { width: 38px; height: 38px; line-height: 38px; text-align: center; color: #474747; text-decoration: none; margin-right: 5px; font-size: 16px; cursor: pointer; display: inline-block; background: #f6f6f6; }

.pageZone span a { color: #414141; text-decoration: none; }

.pageZone span:hover { background: url(http://n.sinaimg.cn/games/cj2017-pc/fy_bg.png) repeat;background-size:100%; color: #fff; text-decoration: none; }

.pageZone .Disabled { width: 85px; }

.pageZone span.Disabled:hover { background: #f6f6f6; }

.pageZone .Disabled a { display: inline-block; width: 85px; color: #aeaeae; }

.pageZone .Disabled a:hover { color: #aeaeae; }

.pageZone .next { width: 85px; }

.pageZone .next a { display: inline-block; width: 85px; }

.pageZone span.isNow { background: url(http://n.sinaimg.cn/games/cj2017-pc/fy_bg.png) repeat;background-size:100%; color: #FFFFFF; }

.pageZone span.isNow a { color: #FFFFFF !important; }

.pageZone span.dot { border: none; }

.pageZone span a { display: inline-block; width: 38px; height: 38px; }

.pageZone span a:hover { color: #fff; text-decoration: none; }


.listboxwp { width: 688px; height:187px;padding: 30px 0 31px; border-bottom: 1px solid #f2f2f2; font-size: 14px; color: #929291; position: relative; }

.listboxwp .imgwp { width: 179px; height: 108px; float: left; margin: 6px 24px 20px 0; position: relative; overflow: hidden; }

.listboxwp .imgwp a { display: block;width: 179px;height: 108px; }

.listboxwp .imgwp img { width: 100%; height: 108px; }

.listboxwp .imgwp:hover img { -webkit-transform: scale(1.06); transform: scale(1.06); }

.listboxwp h3 { font-size: 18px; height: 18px; margin-bottom: 20px; }

.listboxwp h3 .obvioussina { margin-left: 14px; }

.listboxwp .conwp .org {  color: #f65049;  }

.listboxwp h3 a.org { font-size: 14px; font-weight: normal; color: #f65049;}

.listboxwp .conwp { height: 114px; overflow: hidden; margin-bottom: 17px; }

.listboxwp i { font: 8px "SimSun", "宋体"; padding: 0 12px; color: #c6c6c6; }

.listboxwp p { line-height: 26px; margin-bottom: 17px; color: #666565; }

.listboxwp .time { padding: 0 55px 0  5px; }

.listboxwp .from { padding: 0 50px 0 13px; }

.listboxwp span.share { margin: 0 8px; }

.listboxwp a.share { margin: 0 8px; }

.listboxwp > a.gray { margin-right: 6px; }

.listboxwp span.gray { font-size: 14px; color: #929291; vertical-align: -2px; font-weight: normal; }

.listboxwp .conimgwp { height: 108px; margin-bottom: 17px; padding-top: 6px; overflow: hidden; }

.listboxwp .conimgwp a { margin-right: 5px; overflow: hidden; float: left; }

.listboxwp .conimgwp img { height: 100%; transition: all 1s; }

.listboxwp .conimgwp a img:hover { transform: scale(1.1); }

.listboxwp .bigitem { height: 219px; overflow: hidden; margin-bottom: 17px; }

.listboxwp .bigitem p { margin-bottom: 13px; }

.listboxwp .bigimgwp { width: 267px; height: 210px; float: left; margin: 6px 24px 20px 0; position: relative; overflow: hidden; }

.listboxwp .bigimgwp img { width: 100%; height: 100%; }

.listboxwp .bigimgwp:hover img { transform: scale(1.06); }

.listboxwp .bigitem ul { padding-top: 13px; }

.listboxwp .bigitem ul li { float: left; margin-right: 10px; text-align: center; color: #929291; }

.listboxwp .bigitem ul li .smallimg { display: block; width: 111px; height: 70px; overflow: hidden; margin-bottom: 6px; }

.listboxwp .bigitem ul li img { width: 111px; height: 70px; display: block; transition: all 1s; }

.listboxwp .bigitem ul li a:hover img { transform: scale(1.1); }

.listboxwp .bigitem ul li a.gray { color: #666565; }

.listboxwp .bigitem ul li a.gray:hover { color: #ff6600; }

.hvideo { width: 19px; height: 15px; display: inline-block; background: url(http://n.sinaimg.cn/games/2016/home/sprite.png) -53px -53px; vertical-align: middle; margin-left: 15px; }

.hpictu { width: 19px; height: 15px; display: inline-block; background: url(http://n.sinaimg.cn/games/2016/home/sprite.png) -94px -53px; vertical-align: middle; margin: 0 5px 0 15px; }

.imgvideo { width: 34px; height: 34px; background: url(http://n.sinaimg.cn/games/2016/home/sprite.png) -98px -181px; position: absolute; top: 50%; left: 50%; margin: -17px 0 0 -17px; }

.imgvideo:hover { background-position: -98px -221px; }

.sharebtn { width: 16px; height: 14px; display: inline-block; background: url(http://n.sinaimg.cn/games/2016/home/sprite.png); vertical-align: middle; cursor: pointer; }

.weibo { background-position: -24px -101px; }

.weibo:hover { background-position: -24px -132px; }

.weixin { background-position: -61px -101px; }

.weixin:hover { background-position: -61px -132px; }

.mshare { background-position: -98px -101px; }

.mshare:hover { background-position: -98px -131px; }

.commont { background-position: -137px -101px; }

.commont:hover { background-position: -137px -131px; }

@media screen and (max-width: 1480px){
    .CJ-content-1 .swiper-button-next{
        background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_1_3.png);
        right: 14px;
    }
    .CJ-content-1 .swiper-button-prev{
        background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_1_3.png);
        left: 14px;
    }
    .CJ-content-1 .swiper-button-next-new,.CJ-content-1 .swiper-button-next-new1{
        background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_2_2.png);
        right: 25px;
    }
    .CJ-content-1 .swiper-button-prev-new,.CJ-content-1 .swiper-button-prev-new1{
        background-image: url(http://n.sinaimg.cn/games/cj2017-pc/arrow_2_2.png);
        left: 25px;
    }
    .sprite-qiu{
        display: none;
    }

}
@media screen and (max-width: 1200px){
    body{
        overflow-x: auto;
    }
    /*right nav*/
    .rightFix{
        position:fixed;
        z-index:100;
        left:auto;
        right: 10px;
        margin-left:0;

    }
}

